body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: darkorange;
}
p{
    margin-bottom: 40px;
}
.link-button{
    color: rgb(253, 252, 252);
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 148, 66), rgb(252, 92, 0));
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700px;
   
    
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    border-radius: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.section2{
   
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
